<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <!--连接字符串 SQL Server-->
    <!--<add key="strMysql" value="User Id=root;Password=123456;Host=192.168.231.21;Database=BSCDB_HBH"/>-->
    
    <add key="strMysql" value="User Id=root;Password=123456;Host=192.168.231.21;Database=BSCDB"/>

    <!--原材料类型-->
    <add key="cobYcllx" value="主料|001/辅料|002/B炼品|003"/>

    <!--硫化结果-->
    <add key="cobLhjg" value="OK|001/NG|002/待检|003"/>

    <!--入库区分-->
    <add key="cobRkqf" value="检品入库|1/返品入库|2"/>

    <!--出库区分-->
    <add key="cobCkqf" value="未出库|0/出库|1"/>


    <add key="WebSerivceIp" value="192.168.231.21:8000"/>


    <!--出库区分-->
    <add key="ZT" value="正常|0/已作废|1"/>

    <!--<add key="GLMC" value="部门|01/职位|02/原材料类型|03/有效期限|04/分类号|05/计量单位|06/公差|07/检验|08/硫化结果|09/每箱装袋类型|10/分类号|11/打印机IP分配|12/打印机端口号|13"/>-->
    <add key="GLMC" value="部门|01/职位|02/原材料类型|03/有效期限|04/分类号|05/计量单位|06/检验|08/硫化结果|09/每箱装袋类型|10/分类号|11/打印机IP分配|12/打印机端口号|13"/>
    
    <add key="XB" value="男|1/女|2"/>


    <!--EXCEL PATH-->
    <add key="Path_PC12" value="C:\BSC\配合表一览"/>
    <add key="Path_PC16" value="C:\BSC\合格证"/>
    <add key="Path_PC15" value="C:\BSC\入库单一览"/>
    <add key="Path_PC14" value="C:\BSC\盘库一览"/>
    <add key="Path_PC17" value="C:\BSC\原材料在库一览"/>
    <add key="Path_PC18" value="C:\BSC\领料单一览"/>
    <add key="Path_PC19" value="C:\BSC\配合药品计量记录表"/>
    <add key="Path_PC20" value="C:\BSC\成品检查入库一览"/>
    <add key="Path_PC21" value="C:\BSC\一次校验合格率"/>
    <add key="Path_PC22" value="C:\BSC\成品出库指示报表"/>
    
    <add key="Path_PC23" value="C:\BSC\出库一览"/>
    <add key="Path_PC24" value="C:\BSC\产成品出库单"/>
    <add key="Path_PC25" value="C:\BSC\出库检验单"/>
    <add key="Path_PC26" value="C:\BSC\全部工序一览"/>
    <add key="Path_PC27" value="C:\BSC\硫化日变更日志"/>
    <add key="Path_PC29" value="C:\BSC\返品录入"/>
    
  </appSettings>
</configuration>